{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SkyStoreProduct</h1>
    <p class="lead">SkyStoreProduct - это отличный магазин продуктов</p>
</div>

<div class="container">
    <div class="row text-center">
            {% for object_prod in object_list_prod %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object_prod|title }}</h4>
                            {% if object_prod|title == 'Брусника' %}
                            <img src="/static/br.jpg"  width="210" height="130">
                            <div class="card-body">
                                <a class="btn btn-lg btn-block btn-outline-primary" href="/product/">Подробнее</a>
                            </div>
                            {% elif object_prod|title == 'Земляника' %}
                            <img src="/static/zm.jpg"  width="210" height="130">
                            <div class="card-body">
                                <a class="btn btn-lg btn-block btn-outline-primary" >Подробнее</a>
                            </div>
                            {% elif object_prod|title == 'Огурец' %}
                            <img src="/static/og.jpg"  width="210" height="130">
                            <div class="card-body">
                                <a class="btn btn-lg btn-block btn-outline-primary" >Подробнее</a>
                            </div>
                            {% elif object_prod|title == 'Помидор' %}
                            <img src="/static/pom.jpg"  width="210" height="130">
                            <div class="card-body">
                                <a class="btn btn-lg btn-block btn-outline-primary" >Подробнее</a>
                            </div>
                            {% elif object_prod|title == 'Яблоко' %}
                            <img src="/static/apple.jpg"  width="210" height="130">
                            <div class="card-body">
                                <a class="btn btn-lg btn-block btn-outline-primary" >Подробнее</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}